<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <h1>Ionic Core App</h1>
  <ion-row class="ion-margin-bottom ion-margin-top">
    <ion-text>Environment Variable: <b>{{envVar}}</b></ion-text>
  </ion-row>
  <ion-row class="ion-margin-bottom">
    <ion-button expand="block" (click)="navigateToSubApp()" color="primary">Navigate to Sub-App</ion-button>
  </ion-row>
</ion-content>
